<!DOCTYPE html>                                                                                                                             

<html lang = "en">                                                                                                                          
    <head>
        <meta charset = "UTF-8">                                                                                                            
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">                                                        
        <link rel = "stylesheet" href = "static/style.css">                                                                                        
        <title>BananaAirlines</title>
        <script>
            setTimeout(function(){
                window.location.href = '/index';
            }, 3000);
        </script>                                                                                                       
    </head>
  <body>
    <div class = "hero">
        <div class = "approved">
            <div>
                Your Action was succesful.
                <br>
                <br>
                <img id = "approvedPicture" src = "static/images/approved.png" alt = "Logo">
                <br>
                <br>
                Return to <a id = "returnHome" href = "/index">Homepage</a>
            </div>
        </div>
    </div>
  </body>
</html>